fact-old.txt
fct_tripsold.txt
dockerfile-to-ingestion.txt
docker-old2.txt
dim_timeold.txt
/include/.gcp/
/include/keys
/dags/data_ingestion.txt
/dags/extract_raw_data.py
/dags/green_taxi_dags.py
/dags/load_to_gcs.py
/dags/transform.py
/dags/yellow_etl.py
my_venv/
*.venv/
venv/
logs/
scripts/
